.main {
  border-radius: 16px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #d7f0ff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  text-align: center;
  margin-bottom: 1vh;
}
/* .cardContainer {
  display: flex;
  gap: 20px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.carouselContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cardWrapper {
  flex-shrink: 0;
}
 */

.carouselContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  column-gap: 24px;
}

.cardWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 4); /* Adjust to accommodate the cards dynamically */
}

.card {
  flex: 1 0 calc(25% - 16px); /* Show 4 cards per row with spacing */
  margin: 8px;
}

.leftButton,
.rightButton {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */

  background-color: #d1d5db;
display: flex;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.leftButton:hover,
.rightButton:hover {
  background-color: lightblue;
}
