/* Container Styles */
.container {
  max-width: 100%;
  /* padding: 5vh 0 0 0; */
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  /* align-items: flex-end; */
  align-items: center;
  margin: auto;
}

/* Grid Container */
.grid-container {
  height: 100%;
  align-items: center;
  margin: 0 28px;
  display: grid;
  grid-template-columns: 1fr; /* Default 1 column layout for mobile */
  grid-gap: 0;
  grid-template-areas:
    "hero"
    "hero-info";
}


/* Hero Picture Section */
.hero-picture {
  grid-area: hero-info;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end; /* Make sure it's on the right */
  margin-top: auto;
  width: 100%;
}

/* Hero Picture Background */
.hero-picture::before {
  content: "";
  background-image: url("../../../public/assets/images/static/hero-about.webp"); /* Replace with actual image path */
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  height: 80vh;
  /* height: 400px; */
  width: 100%;
}

/* @media (max-width: 600px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
 
} */

@media (max-width: 575px) {
  .hero {
    /* padding-top: 10vh; */
    padding-top: 5vh;
  }

  .hero-picture::before {
    height: 400px;
  }
  
}

/* Mobile (Large) */
@media (min-width: 576px) and (max-width: 767px) {
  .hero {
    padding-top: 15vh;
  }
  .hero-picture::before {
    height: 50vh;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    padding-top: 10vh;
  }

  .hero-picture::before {
    height: 50vh;
  }
}

/* Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  /* .container {
    max-width: 90vw;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero hero-info";
  }

  .hero {
    padding-top: 0;
  }

  .hero-picture {
    background: none;
    justify-content: flex-start;
  }

  .hero-picture::before {
    height: 80vh;
  } */
}

/* Desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 90vw;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero hero-info";
  }

  .hero {
    padding-top: 0;
  }

  .hero-picture {
    background: none;
    justify-content: flex-start;
  }

  .hero-picture::before {
    height: 80vh;
  }
}

/* RTL Support for Arabic */
.containerRTL {
  direction: rtl;
}

.containerRTL .grid-container {
  direction: rtl;
}

.containerRTL .hero-picture {
  justify-content: flex-start;
}

@media (min-width: 1200px) {
  .containerRTL .hero-picture {
    justify-content: flex-end;
  }
}
