.App {
  overflow-x: hidden;
}

@media screen and (min-width: 1650px) {
  .girl {
    width: 100%; /* Set a width of 900px */
    height: 100%; /* Set a height of 900px */
    bottom: 0;
  }
}
@media screen and (max-width: 1650px) and (min-width: 1500px) {
  .girl {
    width: 100%; /* Set a width of 900px */
    height: 100%; /* Set a height of 900px */
    bottom: 0;
  }
} /* Media query for screens with a maximum width between 1500px and 1200px */
@media screen and (max-width: 1500px) and (min-width: 1350px) {
  .girl {
    width: 100%; /* Set a width of 700px */
    height: 100%; /* Set a height of 700px */
    bottom: 0;
  }
}

/* Media query for screens with a maximum width between 1500px and 1200px */
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .girl {
    width: 100%; /* Set a width of 700px */
    height: 100%; /* Set a height of 700px */
    bottom: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .girl {
    width: 750px; /* Set a width of 700px */
    height: 750px;
    bottom: 0;

    /* Set a height of 700px */
  }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  .girl {
    width: 600px; /* Set a width of 700px */
    height: 600px;
    bottom: 0;

    /* Set a height of 700px */
  }
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  .girl {
    width: 420px; /* Set a width of 700px */
    height: auto;
    bottom: 0;
    /* Set a height of 700px */
  }
}
@media screen and (max-width: 400px) {
  .girl {
    width: 360px; /* Set a width of 700px */
    height: auto;
    bottom: 0;
    /* Set a height of 700px */
  }
}

@media screen and (min-width: 1500px) {
  .girlGrid {
    /* Set a height of 900px */
    width: 730px; /* Set a width of 700px */
    height: 824px;
    top: 168px; /* Set a height of 700px */
  }
}

/* Media query for screens with a maximum width between 1500px and 1200px */
@media screen and (max-width: 1500px) and (min-width: 1200px) {
  .girlGrid {
    width: 550px; /* Set a width of 700px */
    height: 619px; /* Set a height of 700px */
    top: 200px;
  }
}
@media screen and (min-width: 2001px) {
  .girlContact {
    display: none; /* Set a height of 900px */
  }
}
@media screen and (max-width: 2000px) and (min-width: 1500px) {
  .girlContact {
    display: none; /* Set a height of 900px */
  }
}

/* Media query for screens with a maximum width between 1500px and 1200px */
@media screen and (max-width: 1500px) and (min-width: 1200px) {
  .girlContact {
    width: 650px; /* Set a width of 700px */
    height: 732.52px;
    display: none; /* Set a height of 700px */
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .girlContact {
    width: 550px; /* Set a width of 700px */
    height: 619px;
    left: 20%;
    /* Set a height of 700px */
  }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .girlContact {
    width: 450px; /* Set a width of 700px */
    height: 506.8px;
    /* Set a height of 700px */
  }
}
@media screen and (max-width: 800px) and (min-width: 400px) {
  .girlContact {
    width: 400px; /* Set a width of 700px */
    height: 450.4px;
    /* Set a height of 700px */
  }
}
@media screen and (max-width: 400px) {
  .girlContact {
    width: 340px; /* Set a width of 700px */
    height: 383px;
    /* Set a height of 700px */
  }
}

@keyframes leftCircleAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes rightCircleAnimation {
  0% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceOnce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes delayAndBounce {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation: bounceOnce 0.5s ease-in-out 1;
  }
}
/* 
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
} */

@keyframes filterAnimation {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(3deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounceAndForword {
  0% {
    left: 0;
    top: 80px;
  }
  25% {
    left: 50px;
    top: 120px;
  }
  50% {
    left: 100px;
    top: 80px;
  }
  75% {
    left: 150px;
    top: 120px;
  }
  100% {
    left: 200px;
    top: 80px;
  }
}

.schoolsBox {
  box-shadow: 0px -3px 8px 0px #00000026 inset, 0px 2px 1px 0px #0000000d;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.p {
  font-family: var(--font-leagueSpartan);
}
.html {
  font-family: var(--font-leagueSpartan);
}
