.Caie-background {
  background-color: white;
  border: 0.2px solid rgb(175, 171, 171);
  border-radius: 1vh;
}
.Bakground {
  background-color: "#D3EFFF;";
}

/* .IGSC-background-img{
  background-image: url("../../public/assets/images/static/subjects-bg-img.png");
  width: "100%";
  height: 55vh;
  background-position: center;
} */




