.Caie-background {
  background-color: white;
  border: 0.2px solid rgb(175, 171, 171);
  border-radius: 1vh;
}
.Bakground {
  background-color: "#D3EFFF;";
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Adjust as necessary */
  z-index: 11; /* Ensure it's above the swiper slides */
  text-align: center;
}

.swiper-pagination-bullet {
  background: #000; /* Default bullet color */
  opacity: 0.5; /* Adjust visibility */
}

.swiper-pagination-bullet-active {
  background: #38b6ff; /* Active bullet color */
  opacity: 1; /* Full visibility */
}

