.heroContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
  /* background-color: #d6f0ff; */
  background: linear-gradient(to bottom, #d6f0ff, rgba(255, 255, 255, 0.9));
}

.leftIcons,
.rightIcons {
  position: absolute;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1; /* Ensure they are behind the main content */
}

.leftIcons {
  left: 0;
  top: 10%;
  background-image: url("../../../../public/assets/images/static/blogBg1.png");
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.rightIcons {
  right: 0;
  bottom: 0%;
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-image: url("../../../../public/assets/images/static/blogBg2.png");
}

.main {
  position: relative;
  z-index: 2; /* Bring the main content above the background images */
  text-align: center;
}

.categoryDiv {
  background-color: #08b463;
  border-radius: 8px;
  color: white;
  padding: 8px;
  /* width: auto; */
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}
