/* General Classes */
.heading {
  /* font-weight: bold; */
  color: #000000;
  text-align: left;
  margin-top: 3vh;
  margin-bottom: 3vh;
  /* padding-left: 2vw; */
  padding-right: 2vw;
}

.expertText {
  color: #38b6ff;
  display: inline;
  /* font-weight: bold; */
  position: relative;
}

.expertText::before {
  content: "";
  position: absolute;
  z-index: 10;
  background-position: end;
  background-repeat: no-repeat;
  background-size: contain;
}

.desc {
  /* font-weight: 400; */
  text-align: center;
  color: #000000;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 3vh;
}

/* @media (min-width: 1200px) {
 
} */

.containedBtn {
  box-shadow: 0.5vh 0.5vh 2.5vh 0px #38b6ffb2;
  background-color: #38b6ff;
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 2vh;
  text-align: center;
  width: 50%;
  padding: 2vh;
  text-transform: none;
  border-radius: 1vh;
  letter-spacing: -2%;
}

.containedBtn:hover {
  box-shadow: 0.5vh 0.5vh 2.5vh 0px #38b6ffb2;
  background-color: #38b6ff;
}

.textBtn {
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 2vh;
  text-align: center;
  width: 50%;
  padding: 2vh;
  text-transform: none;
  color: rgba(56, 182, 255, 1);
}

.textBtn:hover {
  font-weight: 700;
}

@media (max-width: 576px) {
  .heading {
    margin-top: 2vh;
    text-align: center;
  }

  .expertText::before {
    left: -180px;
    top: -2.5vh;
    height: 1.9vh;
    width: 2vh;
    background-image: url("../../../../public/assets/images/static/linesMobile.png");
  }
  /* .desc{
    text-align: center;
  } */
}

@media (min-width: 768px) {
  .heading {
    text-align: center;
  }

  .expertText::before {
    right: 0;
    top: -2.5vh;
    height: 1.9vh;
    width: 2vh;
    background-image: url("../../../../public/assets/images/static/linesMobile.png");
  }
  .desc {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .expertText::before {
    right: 0;
    top: -3vh;
    height: 4.3vh;
    width: 4.3vh;
    background-image: url("../../../../public/assets/images/static/lines.png");
  }
  .heading {
    text-align: start;
  }

  .desc {
    text-align: start;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1vh;
    width: 90%;
  }
}
